{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<section class="login padding-form mb-4">
		<div class="container login-content pt-3">
			<form method="post">
				<h2 class="mt-4 mb-4 text-center">Connexion</h2>

				<hr class="graph">

				<div class="row py-3">
					<div class="col-md-2"></div>
					<div class="col-md-8 text-center">
						<p>Vous n'avez pas de compte ?
						</p>
						<a href="/inscription" class="btn btn-secondary">S'inscrire</a>
					</div>
					<div class="col-md-2"></div>
				</div>

				<hr class="graph">

				<div class="row py-3">
					<div class="col-md-2"></div>
					<div class="col-md-8 form-label-top">

						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}
						{% if app.user %}
							<div class="mb-3">
								Vous êtes connecté avec l'adresse mail:
								{{ app.user.email }}
								<a class="btn btn-secondary" href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}

						<label for="inputEmail" class="mb-2">Email</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Votre email" class="form-control" autocomplete="email" required autofocus>
						<label for="inputPassword" class="mt-4 mb-2">Mot de passe</label>
						<div class="input-group">
							<input type="password" name="password" id="user_password" placeholder="Votre mot de passe" class="form-control" autocomplete="current-password" required>
							<span role="button" class="input-group-text" onclick="togglePassword()">
								<i class="bi bi-eye" id="eye"></i>
								<i class="bi bi-eye-slash d-none" id="eye-slash"></i>
							</span>
						</div>


						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						<button class="btn btn-secondary mt-4 mb-3" type="submit">
							Se connecter
						</button>
					</div>
					<div class="col-md-2"></div>
				</div>
			</form>
		</div>
	</section>
{% endblock %}
