{% extends 'base.html.twig' %}

{% block title %}Restaurant Quai Antique Chambéry
{% endblock %}

{% block body %}
	<section class="cover">
		<div class="container img-cover">
			<img src="/assets/logo_cover.png" alt="Logo Quai Antique" class="logo-cover" width="200">
		</div>
		<div class="title-h1">
			<h1>Restaurant traditionnel<br>Savoyard - Chambéry</h1>
			<a class="scroll-button" href="#concept">Découvrir</a>
			{# <a class="scroll-arrow" href="#concept"><img src="assets/CTA_scroll_vertical.png" alt="flèche de scroll"/></a> #}
		</div>
	</section>

	<section class="container">
		<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
			<ol class="carousel-indicators">
				{% for image in images %}
					<li data-bs-target="#myCarousel" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active" {% endif %}></li>
				{% endfor %}
			</ol>

			<div class="carousel-inner">
				{% for image in images %}
					<div class="carousel-item {% if loop.first %} active {% endif %}">
						<div class="d-flex justify-content-center align-items-center" style="max-height: 600px;">
							<img src="{{ asset('upload/images/' ~ image.lien) }}" alt="{{ image.titre }}" class="img-fluid">
						</div>
						<div class="carousel-caption">
							<h3>{{ image.titre }}</h3>
						</div>
					</div>
				{% endfor %}
			</div>

			<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</section>

	{% for horaire in horaires %}
		<div>
			<h3>{{ horaire.jour }}</h3>
			<p>{{ horaire.getFormattedOuvertureSoir }}
				<br>
				{{ horaire.getFormattedFermetureSoir }}</p>
		</div>
	{% endfor %}
{% endblock %}
