{% extends 'base.html.twig' %}

{% block title %}Reservation
{% endblock %}

{% block body %}
	<section class="reservation-form padding-form">
		<div class="container">
			{{ form_start(reservationForm) }}
			<div class="row form-top py-4">
				<h2 class="mt-4 mb-5 text-center">Réservation d'une table</h2>
				<div class="col-md-2"></div>
				<div class="col-md-8 form-label-top">
					{{ form_row(reservationForm.date_reservation) }}
					{{ form_row(reservationForm.creneau_horaire) }}
					{{ form_row(reservationForm.nb_couvert) }}
				</div>
				<div class="col-md-2"></div>
			</div>

			<div class="row form-bottom my-4">
				<h2 class="my-5 text-center">Vos informations personnelles</h2>
				<div class="col-md-2"></div>
				<div class="col-md-8">
					{{ form_row(reservationForm.nom_reservation) }}
					{{ form_row(reservationForm.prenom_reservation) }}
					{{ form_row(reservationForm.email_reservation) }}
					{{ form_row(reservationForm.telephone_reservation) }}
					{{ form_row(reservationForm.allergie_reservation) }}
					<button type="submit" class="btn btn-secondary mb-5">Valider la réservation</button>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
		{{ form_end(reservationForm) }}
	</div>
</section>{% endblock %}
