<h1>Confirmation de votre réservation au restaurant Quai Antique Chambéry</h1>
<p>
	Bonjour
	{{ reservation.PrenomReservation }}
	{{ reservation.NomReservation }},
	<br><br>
	Votre réservation pour
	{{ reservation.NbCouvert }}
	personnes
				le
	<strong>{{ date_reservation }}</strong>
	à
	<strong>{{ creneau_horaire }}</strong>
	a bien été confirmée.
	<br><br>
	Accès & Contact :
		ADRESSE: 35 Place Monge, 73000 Chambéry
		NUMÉRO DE TELEPHONE : 04.79.33.36.55
		ADRESSE MAIL : restaurant.quaiantique@gmail.com
	<br><br>
	<strong>Ceci est un mail automatique, merci de ne pas y répondre</strong><br><br>
	A bientôt sur notre site.
</p>
